<div>
    <form action="">
        <div class="formRow">
            <input type="text" id="name" placeholder="Apelido">
            <p class="errorMessage">Error</p>
        </div>
       
        <div class="formRow">
            <label  class="titleInput">Membro:</label>
            <label class="container"> Sim
                <input type="radio" name="isBetaMember" value="true">
                <span class="checkmark"></span>
            </label>
    
            <label class="container">Não
                <input type="radio"  name="isBetaMember" value="false">
                <span class="checkmark"></span>
            </label>
        </div>
        <div class="formRow">
            <button type="submit" class="submitButton">Salvar</button>
        </div>
      
    </form>
</div>