<div>
    <form  id="formAddUser">
        <div class="formRow">
            <input type="text" id="firstName" placeholder="Nome">
            <p class="errorMessage" id="firstNameError">Mensagem de error</p>
        </div>
        <div class="formRow">
            <input type="text" id="lastName" placeholder="Sobre nome">
            <p class="errorMessage" id="lastNameError">Mensagem de error</p>
        </div>
        <div class="formRow">
            <input type="text" id="email" placeholder="email@exemplo.com">
            <p class="errorMessage" id="emailError">Mensagem de error</p>
        </div>
        <div class="formRow">
            <button type="submit" class="submitButton" id="button">Salvar</button>
        </div>
    </form>
</div>