<div>
    <form action="">
        <div class="formRow">
            <input type="text" id="firstName" placeholder="Nome">
            <p class="errorMessage">Mensagem de error</p>
        </div>
        <div class="formRow">
            <input type="text" id="lastName" placeholder="Sobre nome">
            <p class="errorMessage">Mensagem de error</p>
        </div>
        <div class="formRow">
            <input type="text" id="email" placeholder="email@exemplo.com">
            <p class="errorMessage">Mensagem de error</p>
        </div>
        <div class="formRow">
            <button type="submit" class="submitButton">Salvar</button>
        </div>
    </form>
</div>